In [12]:
import pandas as pd

#mega = pd.read_csv('mega.csv',sep=' ')
#mega.head()

megasena = pd.read_excel('megasena.xlsx',na_filter=False,usecols=range(1,21))

r, _ = megasena.shape

rIdxPares = []

for x in range(1,r,2):
    rIdxPares.append(x)
#print(rIdxPares)

megasena = pd.read_excel('megasena.xlsx', na_filter=False, usecols=range(1,21), skiprows=rIdxPares)
megasena.to_csv('megatransform.csv')
rIdxPares
#print(megasena.columns)
megasena = pd.read_excel('megasena.xlsx', na_filter=False, usecols=range(1,21),skiprows=rIdxPares)
megasena.head()
megasena[megasena['Local'].str.contains(', RN', regex=False)]

,Local,Data do Sorteio,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Ganhadores Faixa 1,Ganhadores Faixa 2,Ganhadores Faixa 3,Rateio Faixa 1,Rateio Faixa 2,Rateio Faixa 3,Cidade,Unnamed: 16,Valor Arrecadado,Estimativa para o próximo concurso,Valor Acumulado Próximo Concurso,Acumulado
114,"CAICÓ, RN",2000-07-29,8,40,41,44,53,56,0,94,5820,0,15000.6,241.56,,,0,0,0,SIM
145,"Pau dos Ferros, RN",2001-09-01,13,23,24,34,45,53,0,116,8670,0,11313.3,150.8,,,0,0,0,SIM
285,"ASSU, RN",2004-06-16,3,9,16,20,33,60,0,162,9940,0,10668.5,173.21,,,0,0,0,SIM
432,"NATAL, RN",2007-05-12,5,27,36,40,46,48,0,46,3704,0,23174.3,286.71,,,0,0,0,SIM
433,"Santa Cruz, RN",2007-05-19,21,22,25,40,51,57,0,37,3453,0,32370,345.54,,,0,16000000,0,SIM
548,"CURRAIS NOVOS, RN",2009-07-25,9,10,21,36,41,48,1,211,18534,5.58632e+07,25579.5,416.01,RIO DE JANEIRO,RJ,9.21893e+07,25000000,2.91985e+07,NAO
659,"MOSSORÓ, RN",2011-06-11,18,40,47,54,57,58,0,49,5416,0,57917.3,748.56,,,48474300,35000000,2.89653e+07,SIM
784,"CAICÓ, RN",2013-07-24,16,17,23,42,59,60,1,66,6219,1.40614e+07,31999.7,485.14,TOLEDO,PR,36074146,14000000,3.39339e+07,NAO